Package: com.amethyst.menu
Name: Amethyst
Version: 1.1.0
Architecture: iphoneos-arm64
Description: Sideload-compatible Amethyst overlay menu for War Robots.
Maintainer: Amethyst
Author: Amethyst
Section: Tweaks
